<%= form_with url: "/subject_data", method: :post, enctype: "multipart/form-data" do |form| %>
  <p>
    <label for="uploads">ファイルを選択してください：</label>
    <%= form.file_field :uploads, name: "uploads[]", multiple: true, accept: ".xlsx, .pdf" %>
  </p>
  <p>
    <%= form.submit "送信"%>
  </p>
<% end %>