body {
  background-color: #F0F4F8;
}
.usage-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  margin-top: 30px;
  .usage {
    font-size: 30px;
    letter-spacing: 1.2px;
    margin: 0;
    border-bottom: 1px solid #C4C7C5;
  }
  .select-form {
    form > div {
      margin-top: 50px;
    }
    .select-files > p {
      font-size: 18px;
    }
    .select-files > #uploads {
      font-size: 16px;
    }
  }
  .send-button {
    & > p {
      font-size: 18px;
    }
    & > .submit {
      font-size: 16px;
    }
  }
  .certification {
    & > p {
      font-size: 18px;
    }
  }
  .completion {
    & > p {
      font-size: 18px;
    }
  }
}